#ProjectTools 
{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 5%;
    background-color: rgb(8, 23, 75);
}
#ProjectArea
{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 95%;
    background-color: rgb(26, 26, 124);
    overflow: scroll;
}
#jehw
{
    position: absolute;
    width: 10%;
    height: 10%;
    background-color: rgb(72, 230, 72);
    transition: top .5s , left .5s , opacity .5s;
    overflow: hidden;
    resize: both;
}