body
{
    background-color: #261e53fd;
}
#ProjectLgT
{
    width: 45%;
    height: 97%;
    position: absolute;
    box-shadow: 10px 0px 10px rgb(26, 26, 56);
    background-color: rgba(13, 74, 116, 0.171);
    text-align: center;
    align-items: center;
}
#ProjectLgT .P_Lg
{
    position: relative;
    width: 80%;
    height: 60%;
    left: -0.5%;
    top: 2%;
    border-radius: 40px;
    box-shadow: 0px 0px 50px rgb(18, 105, 175);
}
#ProjectLgT .P_Ti
{
    position: relative;
    top: 15%;
    font-family: cursive;
    font-weight: 900;
    font-style:oblique;
    font-size: xx-large;
    color: rgb(116, 255, 146);
    text-shadow: 5px 4px 5px #000;
}
#ProjectAction
{
    position: absolute;
    top: 70%;
    left: 46%;
    width: 54%;
    align-items: center;

}
#ProjectAction button
{
    width: 10%;
}