#ProjectTools 
{
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 5%;
    background-color: rgb(8, 23, 75);
}
#ProjectArea
{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 95%;
    background-color: rgb(57, 26, 124);
    overflow: scroll;
    scrollbar-width: thin;
}
.ImagePanel
{
    position: absolute;
    width: 30%;
    height: 40%;
    border-radius: 15px;
    box-shadow: 5px 10px 10px rgba(18, 18, 20, 0.651);
    border: 5px ridge #2029324f;
    background-color: rgba(183, 80, 255, 0.63);
    transition: opacity .5s;
    overflow: hidden;
    resize: both;
}
.ImageInsertPanel
{
    display: none;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 90%;
    top: 25px;
    background-color: rgba(129, 0, 165, 0.49);
    color: rgba(255, 255, 255, 0.719);
    font-weight: 600;
    font-size: x-large;
    font-family: monospace;
    text-align: center;
}
.SubImagePanel
{
    position: absolute;
    top: 25px;
    width: 100%;
    height: 92%;
    overflow-y: scroll;
    scrollbar-color: #5244708c #1d0d2a66 ;
    scrollbar-width: thin;
}
.SubImagePanel img
{
    width: 100%;
    height: 100%;
}
.ImageFrameCloseButton,.ImageFrameAddButton
{
    position:absolute;
    width: 45px;
    height: 25px;
    top: 0%;
    cursor: pointer;
    border:none;
    background-color: rgba(4, 255, 184, 0.05);
    color: white;
    font-family:fantasy;
    font-weight: bolder;
    font-size: large;
}
.ImageFrameAddButton
{
    right: 45px;
}
.ImageFrameCloseButton
{
    right: 0px;
}
.ImageFrameCloseButton:hover
{
    background-color: rgb(255, 65, 31);
}
.ImageFrameAddButton:hover
{
    background-color: rgb(5, 197, 139);
}