body
{
    background-color: #0d1148;
}
.User
{
    position: absolute;
    width: 30%;
    height: 60%;
    top: 10%;
    background-color: #0000001a;
    box-shadow: 15px 15px 15px #00000047;
    text-align: center;
}
.User img
{
    cursor: pointer;
    position: relative;
    top: 10%;
    border-radius: 50%;
    width: 45%;
    height: 45%;
    max-width: 200px;
    max-height: 200px;
    min-width: 150px;
    min-height: 150px;
    padding: 10px;
    border: 5px solid rgb(27, 236, 27);
    transition: all 1s ease-in;
}
.User h2
{
    position: relative;
    top: 15%;
    color: rgb(70, 255, 70);
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}
.User img:hover
{
    border-style:dashed;
}