body
{
    background-color: #090e11;
}
.ProjectArea
{
    position: absolute;
    width: 75%;
    height: 97%;
    overflow-y: scroll;
    border: 2px solid #82ff82;
    border-radius: 10px;
    background-color: #1a143be6;
}
.UserFunction
{
    position: absolute;
    width: 23%;
    height: 97%;
    border: 2px solid #39ffec;
    right: 0.5%;
    border-radius: 10px;
    background-color: #070927;
    text-align: center;
}
.ProfileArea
{
    cursor: pointer;
}
.ProfileArea img
{
    width: 100px;
    height: 100px;
    border-radius: 55px;
    padding: 5px;
    border: 2.5px solid #00ff88b9;
    opacity: 0.8;
    transition: all .2s;
}
.ProfileArea h3
{
    color: #00ff88c0;
    font-family: cursive;
    font-size: x-large;
    transition: all .2s;
}
.ProfileArea:hover img
{
    opacity: 1;
    border-color:#00ff88;
}
.ProfileArea:hover h3
{
    color: #00ff87;
}
.UserFunction input[type="search"]
{
    width: 45%;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid rgb(0, 255, 0);
    text-overflow: ellipsis;
    text-align: center;
    transition: all .5s;
    background-color: #ffffff00;
    color: rgb(0, 255, 149);
    font-family:monospace;
}
.UserFunction input[type="search"]:focus
{
    width: 60%;
}